<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7bd863">  <td>18/11/05 17:37:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LabExam1_Q2_TEST.test_GetSpeed1a(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:lab05_EXAM.LabExam1_Q2_TEST@ebd06a9]">test_GetSpeed1a</td> 
  <td>main@1203638171</td>   <td></td> </tr>
<tr bgcolor="7bd863">  <td>18/11/05 17:37:04</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LabExam1_Q2_TEST.test_GetSpeed1a(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:lab05_EXAM.LabExam1_Q2_TEST@ebd06a9]">test_GetSpeed1a</td> 
  <td>main@1203638171</td>   <td></td> </tr>
<tr bgcolor="7bd863">  <td>18/11/05 17:37:04</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LabExam1_Q2_TEST.test_GetSpeed1a(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:lab05_EXAM.LabExam1_Q2_TEST@ebd06a9]">test_GetSpeed1a</td> 
  <td>main@1203638171</td>   <td></td> </tr>
<tr bgcolor="7bd863">  <td>18/11/05 17:37:04</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LabExam1_Q2_TEST.test_GetSpeed1a(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:lab05_EXAM.LabExam1_Q2_TEST@ebd06a9]">test_GetSpeed1a</td> 
  <td>main@1203638171</td>   <td></td> </tr>
<tr bgcolor="7bd863">  <td>18/11/05 17:37:04</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LabExam1_Q2_TEST.test_GetSpeed1a(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:lab05_EXAM.LabExam1_Q2_TEST@ebd06a9]">test_GetSpeed1a</td> 
  <td>main@1203638171</td>   <td></td> </tr>
<tr bgcolor="7bd863">  <td>18/11/05 17:37:04</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LabExam1_Q2_TEST.test_GetSpeed1a(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:lab05_EXAM.LabExam1_Q2_TEST@ebd06a9]">test_GetSpeed1a</td> 
  <td>main@1203638171</td>   <td></td> </tr>
<tr bgcolor="7bd863">  <td>18/11/05 17:37:04</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LabExam1_Q2_TEST.test_GetSpeed1a(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:lab05_EXAM.LabExam1_Q2_TEST@ebd06a9]">test_GetSpeed1a</td> 
  <td>main@1203638171</td>   <td></td> </tr>
</table>
